OS_PROJECT_DOMAIN_NAME=default
OS_USER_DOMAIN_NAME=default
OS_PROJECT_NAME=someproject
OS_USERNAME=someusername
OS_REGION_NAME=SomeRegon
OS_PASSWORD=somepassword
OS_AUTH_URL=https://some.example.com:35357/v3
OS_IDENTITY_API_VERSION=3
